@page "/coins"

<nav class="navbar bg-body-tertiary" style="background-color:#2C314E;border-radius:10px;">
    <div class="container-fluid">
        <a class="navbar-brand text-light">&#36;0.00</a>
        <form class="d-flex" role="search">
            <button class="btn btn-outline-light" type="submit" style="background-color:#FD9644">Top Up</button>
        </form>
    </div>
</nav>

@code {

}
