@page "/favorites"

<nav class="navbar bg-body-tertiary" style="background-color:#2C314E;border-radius:10px;">
    <div class="container-fluid">
        <a class="navbar-brand text-light">Favorites</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit" style="background-color:#FD9644">Search</button>
        </form>
    </div>
</nav>

@code {

}
